/*start of header*/
header {
    width: 100%;
    font-family: 'DM Mono', monospace;
}

.logo {
    height: 80px;
}

.logo:hover {
    opacity: 0.6;
    transition: 0.5s;
}

.navbar {
    text-align: center;
    font-size: larger;
}

.nav-link:hover {
    opacity: 0.6;
    transition: 0.5s;
}

.icon {
    height: 30px;
}

.icon:hover {
    opacity: 0.6;
    transition: 0.5s;
}

.has-search {
    margin-top: 15px;
}

/*end of header*/

/*container for laptop*/
@media (min-width: 1280px) and (max-width: 1599px) {
    #container {
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
}
/*container for desktop*/
@media (min-width: 1600px) {
    #container {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}

/*start of index slideshow*/
.carousel-inner {
    width: 100%;
    max-height: 400px;
}
/*end of index slideshow*/

/*login*/
.bg {
    background-image: url('https://images.unsplash.com/photo-1431512284068-4c4002298068?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2552&q=80');
    background-size: cover;
}

.login {
    background-color: white;
}

.form-div {
    margin: 50px auto 50px;
    padding: 25px 15px 10px 15px;
    border: 1px solid lightblue;
    border-radius: 5px;
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
}

.form-control:focus {
    box-shadow: none;
}

form p {
    font-size: 0.89em;
}

.form-div.login {
    margin-top: 100px;
}

.logout {
    color: red;
    border: 1px solid red;
    border-radius: 5px;
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
}

.logout:hover {
    background-color: red;
    color: white;
    transition: 0.5s;
}

/*end of login*/

/*start of footer*/
.page-footer {
    background-color: rgb(121, 159, 203);
    color: white;
    font-size: small;
}

.page-footer a {
    text-decoration: none;
    color: white;
}

.page-footer a:hover {
    text-decoration: none;
    transition: 0.5s;
}

.page-footer h5 {
    font-size: medium;
}

.footer-copyright {
    background-color: rgb(97, 118, 143);
}

.list-unstyled a {
    color: white;
    text-decoration: none;
}

.list-unstyled a:hover {
    text-decoration: none;
    transition: 0.5s;
}

/*end of footer*/
