/*header*/
header {
    width: 100%;
    font-family: 'DM Mono', monospace;
}

.navbar{
    text-align: center;
}

.logo {
    display: inline-block;
    height: 80px;
}

.icon {
    height: 40px;
    margin-bottom: 15px;
}






/*footer*/
footer {
    height: 100px;
    width: 100%;
    background-color: rgb(121, 159, 203);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

footer > a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.copyright {
    margin-top: 40px;
    background-color: rgb(97, 118, 143);
    text-align: center;
}

/* Styles for wrapping the search box */

.main {
    width: 50%;
    margin: 50px auto;
}