/*header*/
header {
    width: 100%;
    font-family: 'DM Mono', monospace;
}

.logo {
    height: 80px;
}

.logo:hover{
    opacity: 0.6;
    transition: 0.5s;
}

.navbar{
    text-align: center;
}

.nav-link:hover{
    opacity: 0.6;
    transition: 0.5s;
}

.icon {
    height: 30px;
}

.icon:hover {
    opacity: 0.6;
    transition: 0.5s;
}

.has-search{
    margin-top: 15px;
}

/*footer*/
.page-footer{
    background-color: rgb(121, 159, 203);
    color: white;
}

.footer-copyright{
    background-color: rgb(97, 118, 143);
}

.list-unstyled a{
    color: white;
    text-decoration: none;
}

.list-unstyled a:hover{
    transition: 0.5s;
    text-decoration: none;
}


